.choose-block {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1119px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.choose-block__item {
  box-sizing: border-box;
  color: #fff;
  border-radius: 20px;
  background-color: orange;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  padding: 20px;
  width: 21%;
  height: clamp(210px, 131.6129032258px + 24.4959677419vw, 453px);
  transition: width 0.5s;
}
.choose-block__item--active {
  width: 32%;
}
.choose-block__title {
  box-sizing: border-box;
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
.choose-block__text {
  box-sizing: border-box;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
@media (max-width: 1200px) {
  .choose-block__title {
    font-size: 21px;
  }
  .choose-block__text {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .choose-block {
    max-width: 350px;
    flex-direction: column;
    gap: 15px;
  }
  .choose-block__item {
    width: 100%;
    transition: height 0.5s;
    height: 250px;
  }
  .choose-block__item--active {
    height: 400px;
  }
}