.contact-btn{
    font-size: 20px;
    color:var(--text-black);
    font-weight: 500;
    line-height: 24px;
    padding: 12px 20px;
    background-color: var(--text-fill-orange);
    border-radius: 10px;
    border:none;
    cursor: pointer;
    transition: all 0.2s;
    &:hover{
        transform: scale(1.02);
    }
    &:active{
        transform: scale(0.85);
    }
    @media(max-width:1200px){
        &:hover{
            transform: none;
        }
    }
    @media(max-width:768px){
        &_hf-mobile{
            font-size: 16px;
            padding: 8px 20px;
        }
    }
}