.documents{
    padding: 125px 0 32px 0;
    overflow: hidden;
    &__subtitle{
        margin: 0 auto;
    }
    &__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px 32px;
        margin-top: 53px;
    }
    &__item{
        max-width: 212px;
        transition: all 0.2s;
        &:hover{
            transform: scale(1.25);
        }
    }
    &__img{
        width: 212px;
        height: 290px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__name{
        font-size: 16px;
        font-weight: 400;
        padding: 0 10px;
        text-align: center;
    }
    &__slider{
        display: none;
        margin-top: 30px;
        width: 100%
    }
    @media(max-width:1200px){
        &{
            padding: 100px 0 20px 0;
        }
        &__items{
            margin-top: 40px;
        }
        &__item{
            &:hover{
                transform: none;
            }
        }
    }
    @media(max-width:768px){
        &{
            padding: 35px 0 15px 0;
        }
        &__items{
            display: none;
        }
        &__slider{
            display: block;
        }
        &__img{
            width: 100%;
            height: 385px;
        }
    }
}