.footer{
    background-color: var(--fill-green);
    padding: 35px;
    &__top{
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        padding-top: 15px;
    }
    &__menu{
        display: flex;
        justify-content: space-between;
        gap: 45px;
        color:var(--text-white);
    }
    &__menu-list{
        max-width: 265px;
    }
    &__menu-item{
        font-size: 20px;
        font-weight: 400;
        &:hover{
            color: var(--text-fill-orange);
        }
        &:first-child{
            font-weight: 700;
            color:var(--text-fill-orange);
            &:hover{
                color: var(--text-white);
            }
        }
    }
    &__menu-item + &__menu-item{
        margin-top: 10px;
    }
    &__menu-mobile{
        display: none;
    }
    &__item-mobile{
        font-size: 20px;
        font-weight: 700;
        color:var(--text-fill-orange);
    }
    &__item-mobile + &__item-mobile{
        margin-top: 20px;
    }
    &__contacts{
        color:var(--text-white);
        max-width: 305px;
        text-align: right;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        span{
            text-decoration: underline;
        }
    }
    &__contacts-link{
        &:hover{
            text-decoration: underline;
        }
    }
    &__bottom{
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__policy-link{
        font-size: 20px;
        font-weight: 400;
        color:var(--text-white);
        &:hover{
            text-decoration: underline;
        }
    }
    &__youtube-link{
        width: 60px;
        height: 60px;
        transition: all 0.2s;
        &:hover{
            transform: scale(1.05);
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    @media(max-width:1350px){
        &__menu{
            gap: 30px;
        }
    }
    @media(max-width:1200px){
        &__logo{
            display: none;
        }
        &__menu{
            display: none;
        }
        &__menu-mobile{
            display: block;
        }
        &__youtube-link{
            &:hover{
                transform: none;
            }
        }
    }
    @media(max-width:768px){
        &{
            padding: 25px;
        }
        &__top{
            justify-content: center;
        }
        &__item-mobile{
            text-align: center;
        }
        &__contacts{
            display: none;
        }
        &__bottom{
            display: block;
            margin-top: 25px;
            text-align:center;
        }
        &__policy-link{
            display: none;
        }
        &__youtube-link{
            display: none;
        }
    }
}