.info-slider{
    width: 1130px;
    &__swiper{
        position: relative;
    }
    &__wrapper{
        width: 1020px;
    }
    &__slide{
        display: flex;
        gap: 30px;
        align-items: center;
        padding: 0 55px;
    }
    &__img{
        width: 645px;
        height: 410px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 340px;
    }
    &__name{
        margin: 0;
        font-size: 40px;
        font-weight: 500;
    }
    &__name-tractor{
        margin: 0;
        font-size: 28px;
        font-weight: 400;
    }
    &__model-name{
        text-transform: uppercase;
        margin: 5px 0 0 0;
        font-size: 65px;
        font-weight: 700;
    }
    &__info-price-btn{
        display: none;
    }
    &__text{
        margin: 0;
        font-size: 20px;
        font-weight: 400;
    }
    &__price-btn{
        align-self: start;
    }
    &__pagination{
        margin-top: 30px;
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    &__bullet{
        display: block;
        width: 17px;
        height: 17px;
        border-radius: 100%;
        background-color: var(--text-fill-whiteOrange);
        &-active{
            background-color: var(--text-fill-orange);
        }
    }
    &__left{
        position: absolute;
        left: 0;
        top:50%;
        z-index: 7;
        transform: translateY(-50%);
        width: 55px;
        height: 43px;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__right{
        position: absolute;
        right: 0;
        top:50%;
        z-index: 7;
        transform: translateY(-50%);
        width: 55px;
        height: 43px;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
        }
    }
    @media(max-width:1200px){
        &{
            width: 755px;
        }
        &__wrapper{
            width: 645px;
        }
        &__slide{
            align-items: start;
            flex-direction: column;
        }
        &__info{
            flex-direction: row;
            align-items: center;
            gap: 25px;
            max-width: 640px;
        }
        &__name-tractor{
            font-size: 20px;
        }
        &__model-name{
            font-size: 40px;
            font-weight: 500;
        }
        &__info-price-btn{
            display: inline-block;
            margin-top: 20px;
        }
        &__text{
            font-size: 18px;
            max-width: 460px;
        }
        &__price-btn{
            display: none;
        }
        &__pagination{
            margin-top: 20px;
        }
        &__left{
            top:35%;
        }
        &__right{
            top:35%;
        }
    }
    @media(max-width:768px){
        &{
            width: 310px;
        }
        &__wrapper{
            width: 310px;
        }
        &__slide{
            padding: 0;
            gap: 14px;
        }
        &__img{
            width: 310px;
            height: 240px;
        }
        &__info{
            flex-direction: column;
            gap: 14px;
            max-width: 310px;
            text-align: center;
        }
        &__name{
          font-size: 24px;
        }
        &__info-price-btn{
            display: none;
        }
        &__text{
            font-size: 16px;
        }
        &__price-btn{
            display: inline-block;
            margin: 0 auto;
        }
        &__pagination{
            margin-top: 14px;
            gap: 10px;
        }
        &__left{
            display: none;
        }
        &__right{
            display: none;
        }
    }
    @media(max-width:319px){
        &{
            width: 300px;
        }
        &__wrapper{
            width: 300px;
        }
        &__img{
            width: 300px;
        }
        &__info{
            max-width: 300px;
        }
    }
}