.mission{
    text-align: center;
    padding-top: 115px;
    padding-bottom: 135px;
    overflow: hidden;
    &__subtitle{
        margin: 0 auto;
        span{
            color:var(--text-fill-orange);
        }
    }
    &__text{
        max-width: 930px;
        margin:14px auto 0 auto;
        font-size: 32px;
        font-weight: 400;
        mark{
            background-color: transparent;
            color:var(--text-validateForm-red);
        }
    }
    &__info-grid{
        margin-top: 65px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(150px,auto);
        gap: 40px 40px;
    }
    &__info-head{
        font-size: 80px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
    &__info-text{
        font-size: 32px;
        font-weight: 300;
        margin: 0;
    }
    &__tractor{
        width: 845px;
        height: 444px;
        margin: 40px auto 0 auto;
        position: relative;
    }
    &__tractor-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__tractor-wheelleft{
        position: absolute;
        bottom: -6px;
        left:188px ;
        animation: rolling 7s linear infinite;
        width: 244px;
        height: 244px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__tractor-wheelright{
        position: absolute;
        bottom: -6px;
        right:-5px;
        animation: rolling 7s linear infinite;
        width: 244px;
        height: 244px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__tractor-text{
        position: absolute;
        z-index: 2;
        right: -80px;
        top: -35px;
        max-width: 265px;
        background-color: var(--text-fill-orange);
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 20px 9px 20px;
        border-radius: 10px;
    }
    &__guarantees-grid{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 32px 20px;
        margin-top: 70px;
    }
    &__quarantees-svg{
        width: 195px;
        height: 166px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__guarantees-text{
        font-size: 30px;
        font-weight: 400;
    }
    @media(max-width:1200px){
        &{
            padding-top: 60px;
            padding-bottom: 80px;
        }
        &__text{
            max-width: 685px;
            font-size: 24px;
        }
        &__info-grid{
            margin-top: 55px;
            grid-auto-rows: minmax(90px,auto);
        }
        &__info-head{
            font-size: 60px;
        }
        &__info-text{
            font-size: 24px;
        }
        &__tractor{
            width: 745px;
            height: 392px;
            margin: 35px auto 0 auto;
        }
        &__tractor-wheelleft{
            left: 170px;
            width: 213px;
            height: 213px;
        }
        &__tractor-wheelright{
            right: -1px;
            width: 213px;
            height: 213px;
        }
        &__tractor-text{
            right: -5px;
            max-width: 195px;
            font-size: 36px;
            padding: 8px 17px 7px 17px;
        }
        &__guarantees-grid{
            gap: 25px 4px;
            margin-top: 50px;
        }
        &__quarantees-svg{
            width: 136px;
            height: 107px;     
        }
        &__guarantees-text{
            font-size: 20px;
        }
    }
    @media(max-width:768px){
        &{
            padding-top: 35px;
            padding-bottom: 58px;
        }
        &__text{
            max-width: 318px;
            font-size: 14px;
        }
        &__info-grid{
            margin-top: 26px;
            gap: 18px 10px;
            grid-auto-rows: minmax(45px,auto);
        }
        &__info-head{
            font-size: 28px;
        }
        &__info-text{
            font-size: 14px;
        }
        &__tractor{
            width: 320px;
            height: 173px;
            padding-top: 55px;
        }
        &__tractor-img{
            object-fit: fill;
        }
        &__tractor-wheelleft{
            bottom: -3px;
            left: 73px;
            width: 92px;
            height: 92px;
        }
        &__tractor-wheelright{
            bottom: -3px;
            right: -1px;
            width: 92px;
            height: 92px;
        }
        &__tractor-text{
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 240px;
            width: 240px;
            font-size: 20px;
            padding: 8px 12px 7px 12px;
        }
        &__guarantees-grid{
            grid-template-columns: repeat(2,1fr);
            grid-auto-rows: minmax(130px,auto);
            gap: 20px 10px;
            margin-top: 30px;
        }
        &__quarantees-svg{
            width: 101px;
            height: 86px;
        }
        &__guarantees-text{
            font-size: 14px;
        }
    }
    @media(max-width:329px){
        &__tractor{
            width: 310px;
        }
        &__tractor-wheelleft{
            left: 70px;
        }
        &__tractor-wheelright{
            right: -4px;
        }
    }
}
